.container {
  max-width: 90%;
  margin: 40px auto;
}

.title {
  font-weight: 500;
  text-align: center;
  color: #111827;
  padding-bottom: 1rem;
  box-shadow: 0 4px 4px #0000001a;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
  max-width: 10%;
}

.input-group input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.input-group button {
  padding: 8px 16px;
  border: black 1px solid;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.comment {
  margin-top: 10px;
}

.comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  border-left: 0.5rem solid blue;
  padding: 5px;
  border-radius: 1rem;
}

.replies {
  margin-left: 30px;
  margin-top: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 18px;
}

.comment-text {
  flex: 1;
}

.comment-actions button {
  margin-right: 8px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}

.reply-box {
  margin-top: 8px;
  display: flex;
  max-width: 12%;
}

.reply-box input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-right: 5px;
}

.reply-box button {
  background-color: transparent;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}
